<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <div class="container-fluid">
        <a href="{{site.url}}" class="navbar-brand">
            <h1 class="m-0 p-0" style="font-size: 1.5rem;">{{site.name}}</h1>
            <div class="text-muted mt-0" style="font-size: 1rem;">{{site.description}}</div>
        </a>
        <!-- collapser -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!-- content to be collapsed on smaller screens -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                {% for item in site.data.nav %}
                <li class="nav-item">
                    <a class="nav-link active" href="{{ site.baseurl }}{{ item.link }}">{{ item.name }}</a>
                </li>
                {% endfor %}
            </ul>
            
            <div class="d-sm-block d-md-none py-1"></div>
        </div>
    </div>
</nav>
<br><br><br>